body{
    background-color: aqua;
}
h1{
    text-align: center;
    font-size:50px;
}
.para1{
    color: red;
    text-indent: 50px;
    text-align: justify;
    font-family: "Playfair Display", serif;
    font-size: 20px;
}
.para2{
    color: blueviolet;
    text-indent: 50px;
    text-align: justify;
    text-transform: inherit;
    letter-spacing: 2px;
    font-style: italic;
    font-size: 20px;
    font-family: "black ops one", serif;
}
ul{
    list-style: none;
}
ul>li>a{
    text-decoration: none;
    font-size: 30px;
}